<html>
    <header>
        <title>大福酱酱的秒杀神器!</title>
        <link type="text/css" rel="stylesheet" href="./bootstrap-3.3.7-dist\css\bootstrap.min.css" >
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="./jquery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="./bootstrap-3.3.7-dist\js\bootstrap.min.js" ></script>
        <style>
            .info{color:blue}
        </style>
        <script>
            function generateTimeReqestNumber() {
                var date = new Date();
                return date.getFullYear().toString() + pad2(date.getMonth() + 1) + pad2(date.getDate()) + pad2(date.getHours()) + pad2(date.getMinutes()) + pad2(date.getSeconds());
            }
            
            function pad2(n) { return n < 10 ? '0' + n : n }
            var jspLoadTool = function() {
                var JSP_SCRIPT;
                return function(url) {
                    if(JSP_SCRIPT){
                        document.getElementsByTagName("head")[0].removeChild(JSP_SCRIPT);
                    }
                    JSP_SCRIPT= document.createElement("script");
                    JSP_SCRIPT.type = "text/javascript";
                    JSP_SCRIPT.charset = "UTF-8";
                    JSP_SCRIPT.src = url + "&random4cache=" + Math.random();
                    document.getElementsByTagName("head")[0].appendChild(JSP_SCRIPT);
                };
            }();
            
            // 打开商品页
            function openPage(){
                
                var goodUrl = document.getElementById("inputGoodUrl").value;
                console.log(goodUrl)
                goodUrl=encodeURIComponent(goodUrl)
                if(goodUrl == ""){
                    alert("商品地址不能为空！")
                    return
                }

                var url = "http://localhost:4000/api/openPage?goodUrl=" + goodUrl + "&callback=openCallback"
                jspLoadTool(url)
            }

            function openCallback(res){
                console.log(res)
                if (res.code == -1) {
                    alert(res.msg)
                }
            }

            function refreshCtx(){
                var url = "http://localhost:4000/api/refreshCtx?"
              jspLoadTool(url)
            }
            function refreshCallBack(res){
                if(res.code != "1"){
                    alert(res.msg)
                    return
                }

                // 显示调试信息
                sampWsUrl.wsUrl = "调试地址 > " + res.wsUrl
            }

        </script>
    </header>
    <body onload="init()">
        <div class="container-fluid col-lg-12">
            <table style="font-size: 12px;">
                <tr>
                    <td class="col-lg-10">
                        <div class="panel panel-primary">          
                            <div class="panel-heading">
                                <h3 class="panel-title">输入商品地址，点击“打开”</h3>
                            </div>
                            <div class="panel-body">
                                <div class="input-group col-lg-12">
                                    <input id="inputGoodUrl" type="text" class="form-control input-sm" placeholder="输入商品页面地址">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" onclick="openPage()" type="button">打开</button>
                                    <button class="btn btn-default btn-sm" onclick="refreshCtx()" type="button">刷新上下文</button>
                                    </span>
                                </div>
                                <p id="sampWsUrl">{{wsUrl}}</p>
                                
                            </div>
                        </div>
            
                        <div id="taskList">
            
                            <div class="panel panel-primary" v-for="taskInfo in list">
                                <div class="panel-heading">
                                    <p class="panel-title">[{{taskInfo.Name}}] [ID:{{taskInfo.ID}}]</p>
                                </div>
                                <div class="panel-body">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label for="exampleInputName2">执行时间（yyyyMMddHHmmSS）</label>
                                            <input type="text" id="hidTime" type="text" v-model:value="taskInfo.Time" />
                                        </div>
                                        <input class="btn btn-primary btn-sm" type="button" v-bind:onclick="['exec(\'' + taskInfo.ID + '\')']" value="开始">
                                        <input class="btn btn-danger btn-sm" type="button" v-bind:onclick="['execCancel(\'' + taskInfo.ID + '\')']" value="取消">
                                    </div>
                                    <div  v-for="(action, i) in taskInfo.Actions">
                                        <span style="font-weight:bold">{{i}}> </span>
                                        <span style="font-weight:bold">&nbsp;&nbsp;</span>
                                        <span style="font-weight:bold">行为: </span>
                                        <select class="info" v-model="action.Action">                                        
                                            <option :value="opt.id" v-for="opt in selectOptions.Action" >{{opt.showMsg}}</option>  
                                        </select>

                                        <!-- <span class="info" v-if="action.Action === 'WaitVisible'">等待显示</span>
                                        <span class="info" v-else-if="action.Action === 'Click'">点击</span>
                                        <span class="info" v-else-if="action.Action === 'SendKey'">输入字符</span> -->
                                        <span style="font-weight:bold">&nbsp;&nbsp;</span>
                                        <span style="font-weight:bold">对象: </span>

                                        <select class="info" v-model="action.Tag">                                        
                                            <option :value="opt.id" v-for="opt in selectOptions.Tag" >{{opt.showMsg}}</option>  
                                        </select>

                                        <!-- <span class="info" v-if="action.Tag === 'A'">A标签</span>
                                        <span class="info" v-else-if="action.Tag === 'Input'">Input标签</span> -->
                                        <span style="font-weight:bold">&nbsp;&nbsp;</span>
                                        <span style="font-weight:bold">根据</span>

                                        <select class="info" v-model="action.LocateBy">                                        
                                            <option :value="opt.id" v-for="opt in selectOptions.LocateBy" >{{opt.showMsg}}</option>  
                                        </select>

                                        <!-- <span class="info" v-if="action.LocateBy === 'ByText'">根据文本</span>
                                        <span class="info" v-else-if="action.LocateBy === 'ByID'">根据ID</span> -->
                                        <input class="info" type="text" v-model:value="action.LocateParam" />
                                        <span style="font-weight:bold">定位元素；</span>
        
                                        <div style="display: inline-block;" v-if="action.Param != ''">
                                            <span style="font-weight:bold" >输入:</span>
                                            <input class="info" type="text" v-model:value="action.Param" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <!-- <td style="vertical-align: top;">
                        <div class="panel panel-primary">          
                            <div class="panel-heading">
                                <h3 class="panel-title">说明</h3>
                            </div>
                            <div class="panel-body">
                                <p style="color:red">0、输入商品页，点击打开按钮，如果按钮无响应请刷新上下文</p>
                                <p style="color:red">继续操作前确认以下事情：</p>
                                <p style="color:red">1、在 “自动打开” 的商品详情页，提前登录号淘宝账号</p>
                                <p style="color:red">2、提前选好购买产品的规格</p>
                                <p style="color:red">3、设置好默认收货地址</p>                                 
                                <p style="color:red">4、默认支付方式有足够余额购买商品</p>
                                <p style="color:red">5、让之前  “自动打开”  浏览器标签页，保持在商品秒杀页面</p> 
                            </div>
                        </div>
                    </td> -->
                </tr>
            </table>
            
        </div>
    </body>
    <script>

        var sampWsUrl = new Vue({
            el: '#sampWsUrl',
            data: {
                wsUrl: ''
            }
        })

        var taskList = new Vue({
            el:"#taskList",
            data: {
                list:[
                ],
                selectOptions:{
                    Action:[
                        {id:"WaitVisible",showMsg:"等待显示"},
                        {id:"Click",showMsg:"点击"},
                        {id:"SendKey",showMsg:"文本输入"}
                    ],
                    Tag:[
                        {id:"A",showMsg:"<A>"},
                        {id:"Input",showMsg:"<Input>"}
                    ],
                    LocateBy:[
                        {id:"ByID",showMsg:"ID"},
                        {id:"ByText",showMsg:"文本"}
                    ]
                }
            },
            updated:function(){
        　　}
        })

        // 初始化
        function init(){
            var url = "http://localhost:4000/api/welcome?"
            jspLoadTool(url)
        }
        
        // 初始化回调
        function initCallBack(res){

            // 显示调试信息
            sampWsUrl.wsUrl = "调试地址 > " + res.wsUrl

            // 显示脚本列表
            taskList.list = res.data

            for(var i=0; i<taskList.list.length;i++){

                if(taskList.list[i].DefaultTime != undefined){
                    taskList.list[i].Time =  generateTimeReqestNumber().substr(0,8) + taskList.list[i].DefaultTime 
                }else{
                    taskList.list[i].Time =  generateTimeReqestNumber()
                }
            }
        }
        function exec(taskId){
            console.log(taskId)
            var taskInfo = null

            for(var i=0; i<taskList.list.length;i++){
                if(taskList.list[i].ID = taskId){
                    taskInfo = taskList.list[i]
                    break
                }
            }

            if(taskInfo == null){
                return
            }

            console.log(JSON.stringify(taskInfo))

            if (!_checkParams(taskInfo)) {
                return
            }
            taskJson=encodeURIComponent(JSON.stringify(taskInfo))
            var url = "http://localhost:4000/api/execTask?taskJson=" + taskJson + "&callback=execCallback"
            jspLoadTool(url)
        }

        function execCancel(){
            var url = "http://localhost:4000/api/cancelExec?"
            jspLoadTool(url)
        }

        function execCallback(res){
            console.log(res)
            if (res.code == -1) {
                alert(res.msg)
            }
        }

        function _checkParams(taskInfo){

            for (action in taskInfo.Actions) {
                if(action.LocateParma == ""){
                    alert("必填项为空！")
                    return false
                }
            }
            return true
        }
    </script>
</html>